<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>IconMMgrsw</string>
		<key>name</key>
		<string>个人事务</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>IconMMrsda</string>
		<key>name</key>
		<string>人事档案</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>IconMMgwgl</string>
		<key>name</key>
		<string>公文管理</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>IconMMkqgl</string>
		<key>name</key>
		<string>考勤管理</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>IconMMxzsw</string>
		<key>name</key>
		<string>行政事务</string>
	</dict>
</array>
</plist>
