<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>tdiaryworkinfo</string>
		<key>name</key>
		<string>工作日志</string>
		<key>iconImage</key>
		<string>IconMMgrsw</string>
		<key>pagePath</key>
		<string>system/daily/index.html</string>
		<key>sort</key>
		<integer>0</integer>
		<key>upCode</key>
		<string>-1</string>
		<key>type</key>
		<integer>0</integer>
		<key>defaultShow</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>ME_EMAIL</string>
		<key>name</key>
		<string>我的邮箱</string>
		<key>iconImage</key>
		<string>IconMMgrsw</string>
		<key>pagePath</key>
		<string>system/email/index.html</string>
		<key>sort</key>
		<integer>1</integer>
		<key>upCode</key>
		<string>-1</string>
		<key>type</key>
		<integer>0</integer>
		<key>defaultShow</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>T_ATTENDANCE</string>
		<key>name</key>
		<string>我的考勤</string>
		<key>iconImage</key>
		<string>IconMMkqgl</string>
		<key>pagePath</key>
		<string>system/attendance/index.html</string>
		<key>sort</key>
		<integer>2</integer>
		<key>upCode</key>
		<string>-1</string>
		<key>type</key>
		<integer>0</integer>
		<key>defaultShow</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>tattendance!todoList</string>
		<key>name</key>
		<string>考勤审批</string>
		<key>iconImage</key>
		<string>IconMMkqgl</string>
		<key>pagePath</key>
		<string>system/attendance/index.html</string>
		<key>sort</key>
		<integer>2</integer>
		<key>upCode</key>
		<string>T_ATTENDANCE</string>
		<key>type</key>
		<integer>0</integer>
		<key>defaultShow</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>tattendanceleave!todoList</string>
		<key>name</key>
		<string>请假审批</string>
		<key>iconImage</key>
		<string>IconMMkqgl</string>
		<key>pagePath</key>
		<string>system/attendance/index.html</string>
		<key>sort</key>
		<integer>2</integer>
		<key>upCode</key>
		<string>T_ATTENDANCE</string>
		<key>type</key>
		<integer>0</integer>
		<key>defaultShow</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>tattendanceovertime!todoList</string>
		<key>name</key>
		<string>加班审批</string>
		<key>iconImage</key>
		<string>IconMMkqgl</string>
		<key>pagePath</key>
		<string>system/attendance/index.html</string>
		<key>sort</key>
		<integer>2</integer>
		<key>upCode</key>
		<string>T_ATTENDANCE</string>
		<key>type</key>
		<integer>0</integer>
		<key>defaultShow</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>tattendanceout!todoList</string>
		<key>name</key>
		<string>外出审批</string>
		<key>iconImage</key>
		<string>IconMMkqgl</string>
		<key>pagePath</key>
		<string>system/attendance/index.html</string>
		<key>sort</key>
		<integer>2</integer>
		<key>upCode</key>
		<string>T_ATTENDANCE</string>
		<key>type</key>
		<integer>0</integer>
		<key>defaultShow</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>tattendancetrip!todoList</string>
		<key>name</key>
		<string>出差审批</string>
		<key>iconImage</key>
		<string>IconMMkqgl</string>
		<key>pagePath</key>
		<string>system/attendance/index.html</string>
		<key>sort</key>
		<integer>2</integer>
		<key>upCode</key>
		<string>T_ATTENDANCE</string>
		<key>type</key>
		<integer>0</integer>
		<key>defaultShow</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>T_TASK</string>
		<key>name</key>
		<string>任务协同</string>
		<key>iconImage</key>
		<string>IconMMrwxt</string>
		<key>pagePath</key>
		<string>system/task/index.html</string>
		<key>sort</key>
		<integer>3</integer>
		<key>upCode</key>
		<string>-1</string>
		<key>type</key>
		<integer>0</integer>
		<key>defaultShow</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>ME_KNOWLEDGE_NEWS_VIEW</string>
		<key>name</key>
		<string>通知公告</string>
		<key>iconImage</key>
		<string>IconMMgrsw</string>
		<key>pagePath</key>
		<string>system/notice/index.html</string>
		<key>sort</key>
		<integer>4</integer>
		<key>upCode</key>
		<string>-1</string>
		<key>type</key>
		<integer>0</integer>
		<key>defaultShow</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>Doc_gw</string>
		<key>name</key>
		<string>公文管理</string>
		<key>iconImage</key>
		<string>IconMMgwgl</string>
		<key>pagePath</key>
		<string>system/document/index.html</string>
		<key>sort</key>
		<integer>5</integer>
		<key>upCode</key>
		<string>-1</string>
		<key>type</key>
		<integer>0</integer>
		<key>defaultShow</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>WIDGET_GUIDE</string>
		<key>name</key>
		<string>更多应用</string>
		<key>iconImage</key>
		<string>IconMMgrsw</string>
		<key>pagePath</key>
		<string>http://117.21.209.104:80/EasyContact/web/mobile/guide/function.html</string>
		<key>sort</key>
		<integer>900</integer>
		<key>upCode</key>
		<string>T_ATTENDANCE</string>
		<key>type</key>
		<integer>1</integer>
		<key>defaultShow</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
