<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>0661b4ab4060fcc3014060ff11b70002</string>
		<key>name</key>
		<string>北京</string>
	</dict>
    <dict>
		<key>id</key>
		<string>0661b4ab4060fcc3014060ff12830016</string>
		<key>name</key>
		<string>广东</string>
	</dict>
    <dict>
		<key>id</key>
		<string>0661b4ab4060fcc3014060ff17d200b9</string>
		<key>name</key>
		<string>上海</string>
	</dict>
    <dict>
		<key>id</key>
		<string>0661b4ab4060fcc3014060ff188d00ce</string>
		<key>name</key>
		<string>天津</string>
	</dict>
    <dict>
		<key>id</key>
		<string>0661b4ab4060fcc3014060ff193900e2</string>
		<key>name</key>
		<string>重庆</string>
	</dict>
    <dict>
		<key>id</key>
		<string>0661b4ab4060fcc3014060ff1a72010c</string>
		<key>name</key>
		<string>辽宁</string>
	</dict>
    <dict>
		<key>id</key>
		<string>0661b4ab4060fcc3014060ff1e79018e</string>
		<key>name</key>
		<string>江苏</string>
	</dict>
    <dict>
		<key>id</key>
		<string>0661b4ab4060fcc3014060ff22900214</string>
		<key>name</key>
		<string>湖北</string>
	</dict>
    <dict>
		<key>id</key>
		<string>0661b4ab4060fcc3014060ff26d60296</string>
		<key>name</key>
		<string>四川</string>
	</dict>
    <dict>
		<key>id</key>
		<string>0661b4ab4060fcc3014060ff2dea0377</string>
		<key>name</key>
		<string>陕西</string>
	</dict>
    <dict>
		<key>id</key>
		<string>0661b4ab4060fcc3014060ff32eb03f8</string>
		<key>name</key>
		<string>河北</string>
	</dict>
    <dict>
		<key>id</key>
		<string>0661b4ab4060fcc3014060ff3c4204bc</string>
		<key>name</key>
		<string>山西</string>
	</dict>
    <dict>
		<key>id</key>
		<string>0661b4ab4060fcc3014060ff4328054b</string>
		<key>name</key>
		<string>河南</string>
	</dict>
    <dict>
		<key>id</key>
		<string>0661b4ab4060fcc3014060ff4c8e0610</string>
		<key>name</key>
		<string>吉林</string>
	</dict>
    <dict>
		<key>id</key>
		<string>0661b4ab4060fcc3014060ff50660660</string>
		<key>name</key>
		<string>黑龙江</string>
	</dict>
    <dict>
		<key>id</key>
		<string>0661b4ab4060fcc3014060ff57f806fd</string>
		<key>name</key>
		<string>内蒙古</string>
	</dict>
    <dict>
		<key>id</key>
		<string>0661b4ab4060fcc3014060ff5e41077c</string>
		<key>name</key>
		<string>山东</string>
	</dict>
    <dict>
		<key>id</key>
		<string>0661b4ab4060fcc3014060ff6a57082c</string>
		<key>name</key>
		<string>安徽</string>
	</dict>
    <dict>
		<key>id</key>
		<string>0661b4ab4060fcc3014060ff734008b9</string>
		<key>name</key>
		<string>浙江</string>
	</dict>
    <dict>
		<key>id</key>
		<string>0661b4ab4060fcc3014060ff797a092b</string>
		<key>name</key>
		<string>福建</string>
	</dict>
    <dict>
		<key>id</key>
		<string>0661b4ab4060fcc3014060ff7fc30994</string>
		<key>name</key>
		<string>湖南</string>
	</dict>
    <dict>
		<key>id</key>
		<string>0661b4ab4060fcc3014060ff88cc0a2c</string>
		<key>name</key>
		<string>广西</string>
	</dict>
    <dict>
		<key>id</key>
		<string>0661b4ab4060fcc3014060ff91c50ab7</string>
		<key>name</key>
		<string>江西</string>
	</dict>
    <dict>
		<key>id</key>
		<string>0661b4ab4060fcc3014060ff99950b32</string>
		<key>name</key>
		<string>贵州</string>
	</dict>
    <dict>
		<key>id</key>
		<string>0661b4ab4060fcc3014060ffa1260b9e</string>
		<key>name</key>
		<string>云南</string>
	</dict>
    <dict>
		<key>id</key>
		<string>0661b4ab4060fcc3014060ffb1530c41</string>
		<key>name</key>
		<string>西藏</string>
	</dict>
    <dict>
		<key>id</key>
		<string>0661b4ab4060fcc3014060ffb7bb0c9a</string>
		<key>name</key>
		<string>海南</string>
	</dict>
    <dict>
		<key>id</key>
		<string>0661b4ab4060fcc3014060ffb9cf0cb5</string>
		<key>name</key>
		<string>甘肃</string>
	</dict>
    <dict>
		<key>id</key>
		<string>0661b4ab4060fcc3014060ffc20c0d2a</string>
		<key>name</key>
		<string>宁夏</string>
	</dict>
    <dict>
		<key>id</key>
		<string>0661b4ab4060fcc3014060ffc45e0d4b</string>
		<key>name</key>
		<string>青海</string>
	</dict>
    <dict>
		<key>id</key>
		<string>0661b4ab4060fcc3014060ffc8c30d88</string>
		<key>name</key>
		<string>新疆</string>
	</dict>
    <dict>
		<key>id</key>
		<string>0661b4ab4060fcc3014060ffd0c20df9</string>
		<key>name</key>
		<string>香港</string>
	</dict>
    <dict>
		<key>id</key>
		<string>0661b4ab4060fcc3014060ffd2290e0d</string>
		<key>name</key>
		<string>澳门</string>
	</dict>
    <dict>
		<key>id</key>
		<string>0661b4ab4060fcc3014060ffd2e50e17</string>
		<key>name</key>
		<string>台湾</string>
	</dict>
    <dict>
		<key>id</key>
		<string>0661b4ab4060fcc3014060ffd49a0e30</string>
		<key>name</key>
		<string>海外</string>
	</dict>
</array>
</plist>
