	/**
 *
 * Pull down styles
 *
 */
#pullDown, #pullUp {
	display:none;
	background:#fff;
	height:40px;
	line-height:40px;
	padding:0px;
	border-bottom:0px;
	margin-bottom:0px;
	font-weight:bold;
	font-size:14px;
	color:#000;
	text-align:center;
}
#pullDown span, #pullUp span {
	display:inline-block;
	height:40px;
	line-height:40px;
	vertical-align:middle;
}
#pullDown .pullDownLabel, #pullUp .pullUpLabel {
	width:100px;
}
#pullDown .pullDownIcon, #pullUp .pullUpIcon  {
	width:40px; 
	height:40px;
	margin:0px;
	padding:0px;
	background:url(../images/pull-icon@2x.png) 0 0 no-repeat;
	-webkit-background-size:40px 80px; background-size:40px 80px;
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:250ms;	
}
#pullDown .pullDownIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}
#pullUp .pullUpIcon  {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

#pullDown.flip .pullDownIcon {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

#pullUp.flip .pullUpIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}

#pullDown.loading .pullDownIcon, #pullUp.loading .pullUpIcon {
	background-position:0 100%;
	-webkit-transform:rotate(0deg) translateZ(0);
	-webkit-transition-duration:0ms;
	-webkit-animation-name:loading;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}

@-webkit-keyframes loading {
	from { -webkit-transform:rotate(0deg) translateZ(0); }
	to { -webkit-transform:rotate(360deg) translateZ(0); }
}
#wrapper {
	position: absolute;
	z-index: 1;
	top: 0px;
	bottom: 0px;
	left: 0;
	width: 100%;
	background: #f5f5f5;
	overflow: hidden;
}

#scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

#scroller ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: left;
}
#scroller .btn-group {
	padding:10px;
}
#scroller .btn {
	color:#666666;
	font-weight:bold;
	display:inline-block;
	text-align:center;
	width:100%;
	height:45px;
	line-height:45px;
	border:1px solid #ccc;
	font-size:16px;
	border-radius: 5px;
	background:#f5f5f5;
	background: -webkit-linear-gradient(bottom, #d0d0d0, #f5f5f5);
	background: -moz-linear-gradient(bottom, #d0d0d0, #f5f5f5);
	background: linear-gradient(to top, #d0d0d0, #f5f5f5);
}


#navWrap {
	position: absolute;
	z-index: 1;
	top: 50px;
	left: 0;
	width: 100%;
	height:40px;
	line-height:40px;
	text-align:center;
	background: #dfdfdf;
	overflow: hidden;
}

#nav {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 5000px;
	margin-left:10px;
	height: 100%;
	background-color: #dfdfdf;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

#nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}

#nav li {
	display: block;
	float: left;
	width: 100px;
	height: 100%;
	font-size:15px;
}
#nav li span {
	margin-top:4px;
	display:block;
	height:30px;
	line-height:30px;
	cursor:pointer;
}
#nav li.current span {
	background:-webkit-gradient(linear,left top,left bottom, from(#2D8AD8),to(#6FB2EA));
	background:-moz-linear-gradient(bottom, #2D8AD8, #6FB2EA);
	border-radius:4px;
}
#nav li.current span {
	color:#fff;
}

#viewport {
	position: relative;
	width: 200px;
	height: 180px;
	margin:0 auto;
	background: #f5f5f5;
	overflow: hidden;
}
#imageWrapper {
	width: 200px;
	height: 180px;
	margin: 0 auto;
}

#imageScroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 600px;
	height: 180px;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
	background-color: #f5f5f5;
}

.slide {
	width: 200px;
	height: 180px;
	float: left;
}

.painting {
	width: 240px;
	height: 180px;
	margin: 20px auto;
}

.painting img {
	width:200px;
	height:160px;
}

.giotto {
	background: url(../images/giotto.jpg);
}

.leonardo {
	background: url(../images/leonardo.jpg);
}

.gaugin {
	background: url(../images/gaugin.jpg);
}

.warhol {
	background: url(../images/warhol.jpg);
}

#indicator {
	position: relative;
	width: 90px;
	height: 20px;
	margin: 10px auto;
	/*
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUBAMAAABohZD3AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUGCDYztyDUJgAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAAGFBMVEUAAADNzc3Nzc3Nzc3Nzc3Nzc3Nzc3///8aWwwLAAAABnRSTlMAX5Ks3/nRD0HIAAAAAWJLR0QHFmGI6wAAAFtJREFUGFdjYGBgEHYNMWRAAJE0IHCEc5nSwEABxleD8JOgXMY0KBCA8FlgfAcIXwzGT4TwzWD8ZAjfDcZPgfDDYPxU7Hx09ejmoduH7h5096L7B8O/6OGBGl4APYg8TQ0XAScAAAAASUVORK5CYII=);
	*/
}

#dotty {
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background: #777;
}