.main_nav{display:-webkit-box;background:#dfdfdf;height:40px;width:100%;list-style:none;}
.main_nav li{display:block;height:20px;line-height:20px;margin-top:10px;}
/*.main_nav a{display:block;font-size:14px;font-weight:bold;color:#878787;text-decoration:none;margin:10px auto 9px;border:1px solid transparent;width:3em;text-align:center;}*/
.main_nav a{display:block;font-size:15px;color:black;text-decoration:none;margin:10px auto 9px;border:1px solid transparent;text-align:center;}
.main_nav .three{display:block;font-size:15px;color:black;text-decoration:none;margin:10px auto 9px;border:1px solid transparent;width:4em;text-align:center;}
.main_nav .four{display:block;font-size:15px;color:black;text-decoration:none;margin:10px auto 9px;border:1px solid transparent;width:5em;text-align:center;}
.main_nav li.current{background:-webkit-gradient(linear,left top,left bottom, from(#2D8AD8),to(#6FB2EA));border-radius:4px;}
.main_nav li.current a{color:#fff;}
#wrapper3{background-color: #dfdfdf;border-bottom:1px solid #fff;}
.mycanvas{height:20px;width:60px;position:absolute;border:0px;margin:0px;}
.mycanvas_l{height:20px;width:43px;position:absolute;border:0px;margin:0px;}
.chat_num{position:absolute;margin-top: -3px;margin-left: 2px;color:white;font-size:xx-small;}
.chat_num_l{position:absolute;margin-top: -3px;margin-left: 5px;color:white;font-size:xx-small;}
.chat_bg_show{margin-top: -25px;margin-left: 30px;}
.chat_bg_hide{margin-top: -25px;margin-left: 30px;display:none;}