#tiles {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#tiles{ text-align:center;}
#tiles .cell{ padding:5px 5px 0; border:1px solid #E3E3E3; background:#F5F5F5; margin-top:10px;}
#tiles p{ line-height:20px; margin-top:5px;font-size:12px;}
#tiles img{width:130px;}

